.header-area, .navtoolbox{
    display: flex;
    height: 4rem;
    font-family: Inter;
    color: white;
    font-size: 20px;
    margin-top: 40px;
}

.header-area{
    flex-direction: row;
    margin-left: 70px;
}

.navtoolbox{
    margin-left: 38%;
    letter-spacing: .5px;
    height: auto;
    margin-top: 10px;
    gap: 25px;
    justify-content: right;
}

.header-area .navtoolbox .navtools{
    margin: 10px;
}

.header-area .navtoolbox .navtools:hover{
    color:wheat
}

.login-button{
    margin-top: -5px;
    width: 102px;
    height: 55px;
    border-radius: 10px;
    font-family: inter;
    font-size: 17px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.login-button:hover{
    transform: scale(1.05);
}

.title-container{
    display: flex;
    flex-direction: column;
    font-family: inter;
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 70px;
    line-height: 10px;
}

.title3{
    font-size: 25px;
    font-weight: 300;
}

.start-project-button{
    margin-top: 20px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;
}

.start-project-button:hover{
    transform: scale(1.05);
}

.image1-container{
    width: 1320px;
    height: 640px;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 100px;
}

.ComputerPNG{
    width: 100%;         
    height: auto;        
    object-fit: cover;
}

.explore-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 70px;
    font-size: 48px;
    font-weight: 600;
    color: white;
    font-family: inter;
}

.see-more-container{
    display: flex;
    font-size: 24px;
    align-items: end;
    margin-right: 70px;
    font-weight: 500;
}
.see-more-container p:hover{
    color: wheat;
}

.sample-startup-container{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: 1320px;
    height: 550px;
    gap: 45px;
    margin-bottom: 150px;
}

.sample{
    display: flex;
    flex-direction: column;
    width: 410px;
    font-family: inter;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.sample:hover{
    transform: scale(1.05);
}

.SamplePNG{
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}



.sample-title{
    font-weight: 500;
    margin-bottom: 0px;
}

.sample-text{
    font-size: 24px;
    margin-top: 10px;
}

.build-startup{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: 95.7%;
    height: 820px;
    margin-bottom: 200px;
}

.build-startup-text{
    font-family: inter;
    color: white;
    width: 40%;
}

.topic1, .explanation1, .topic2, .explanation2{
    font-size: 24px;
    margin-bottom: 40px;
}

.topic1{
    line-height: 0.4;
}

.explanation1, .explanation2{
    color: #C5ADBF;
    line-height: 1.4;
}

.project-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project-start, .project-explore{
    width: 220px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
    font-family: inter;
    transition: transform 0.2s ease-in-out;
}

.project-start:hover, .project-explore:hover{
    transform: scale(1.05);
}


.project-explore{
    background-color:#8D397459;
    color: white;
}

.build-startup-png{
    width: 60%;
    height: 820px;
}

.BuildStartupPNG{
    width: 93%;
    height: 820px;
    object-fit: cover;
    margin-left: 60px;
}

.explore-courses-container{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: 1310px;
    height: 530px;
    gap: 30px;
    margin-bottom: 200px;
}

.course{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 530px;
    font-family: inter;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.course:hover{
    transform: scale(1.05);
}

.topic2{
    
    margin-bottom: 0px;
}

.community-title, .explore-courses-title{
    margin-left: 70px;
    font-size: 48px;
    font-family: inter;
    font-weight: 600;
    color: white;
}

.community-container{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: 1340px;
    height: 300px;
    gap: 50px;
}

.community{
    width: 420px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
}

.community-text{
    display: flex;
    width: 345px;
    height: 110px;
    color: white;
    font-family: inter;
    font-size: 24px;
    margin: 30px;
    margin-top: 55px;
}

.community-name{
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 60px;
    margin: 30px;
}

.community-picture{
    width: 60px;
    height: auto;
}

.community-description{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    color: white;
    line-height: 0px;
    margin-left: 20px;
    font-size: 16px;
    font-family: inter; 
}

.AvatarPNG{
    width: inherit;
    height: auto;
    object-fit: cover;
}

.profession{
    color: #828282;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
}

.top-button{
    margin-right: 50px;
    width: 180px;
    height: 60px;
    color: white;
    background-color: #2B082078;
    font-size: 24px;
    font-family: inter;
    border-radius: 10px;
    margin-bottom: 70px;
}

.dashboard{
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 800px;
    font-family: inter;
    margin-bottom: 100px;
}

.DashboardPNG{
    width: inherit;
    height: auto;
    object-fit: cover;
    display: block;
}

.introduction {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

.introduction2, .introduction3 {
    position: absolute;
    top: 38%;
    left: 10%;
    color: white;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
}

.get-started{
    position: absolute;
    top: 52%;
    left: 10%;
    width: 200px;
    height: 80px;
    font-size: 24px;
    font-family: inter;
    font-weight: 500;
    border-radius: 10px;
}

.introduction3{
    top: 42%;
    left: 10%;
}

.overview-title-container{
    margin-left: 70px;
    font-size: 48px;
    font-family: inter;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}

.project1{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: 1320px;
    height: 425px;
    font-family: inter;
    margin-bottom: 100px;
}

.project-left, .project-right, .project-right2{
    width: 50%;
    height: auto;
}

.project-heading{
    margin-top: 70px;
    color: white;
    font-size: 40px;
    margin-bottom: 25px;
}

.project-desc{
    color: #828282;
    font-size: 24px;
    max-width: 500px;
}

.project-overview-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.project-overview-button, .project-overview-button2{
    width: 125px;
    height: 60px;
    font-size: 24px;
    font-family: inter;
    border-radius: 10px;
}

.project-overview-button2{
    width: 255px;
    background-color: #262626;
    color: white;
}

.Project1PNG{
    width: 100%;
    height: inherit;
    object-fit: contain;
}

.project-right2{
    position: relative;
    left: 120px;
}

.below-overview{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    width: 1320px;
    height: 830px;
    margin-left: 70px;
    gap: 20px;
    margin-bottom: 100px;
}

.below-overview-left, .below-overview-right{
    display: flex;
    flex-direction: column;
    width: 55%;
    font-family: inter;
    line-height: 0px;
}

.below-overview-right{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.below-overview-text1{
    margin-top: 30px;
    color: white;
    font-size: 24px;

} 

.below-overview-text2{
    color: #828282;
    font-size: 20px;
}

.ProjectPNG{
    width: 590px;
    height: 310px;
}

.before-footer-text{
    font-size: 48px;
    font-family: inter;
    color: white;
    font-weight: 500;
    margin-left: 70px;
    margin-bottom: 50px;
}

.before-footer{
    display: flex;
    flex-direction: row;
    width: 1320px;
    height: 400px;
    margin-left: 70px;
    gap: 150px;
}

.before-footer-icon1{
    margin-bottom: 10px;
}

.before-footer-text2{
    font-family: inter;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.before-footer-text3{
    font-family: inter;
    font-size: 20px;
    color: #828282;
    margin-bottom: 10px;
    max-width: 500px;
    margin-bottom: 70px;
}

.before-footer-icon{
    width: 24px;
    height: 24px;
}

.before-footer-left, .before-footer-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: inherit;
}

.project-name-container{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 100px;
    width: 1320px;
    height: 615px;
    gap: 130px;
}

.project-name-left, .project-name-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: inherit;
}

.project-name-right{
    font-family: inter;
    color: white;
    gap: 20px;
}

.Project5PNG{
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}

.project-name-text{
    font-size: 40px;
    font-weight: 600;
}

.project-name-subheading, .project-description{
    font-size: 24px; 
    color: #828282;
}

.project-funding-text{
    font-size: 24px;
}

.other-startup-text{
    margin-left: 70px;
    color: white;
    font-family: inter;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
}

.see-startup-button{
    width: 595px;
    height: 55px;
    border-radius: 10px;
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
}

.additional-details{
    font-size: 18px; 
    color: #828282;
}

.other-startup-container{
    display: flex;
    flex-direction: column;
    width: 1320px;
    height: 765px;
    margin-left: 70px;
}

.startup-row1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    gap: 54px;
}

.startup{
    display: flex;
    flex-direction: column;
    width: 405px;
    height: 100%;
    font-family: inter;
    color: white;
    gap: 10px;
}

.startup-png{
    width: 405px;
    height: 240px;
}

.startup-project-name{
    font-size: 24px;
    margin-top: 10px;
}

.startup-description{
    font-size: 18px;
    color: #828282;
}

.startup-funding{
    font-size: 18px;
}









/*Footer CSS*/

.footer{
    display: flex;
    flex-direction: row;
    width: 101.2%;
    height: 270px;
    background-color: #4b0135;
    background: linear-gradient(to right,#5b0140, #4b0135, #360126 );
    margin: -8px;
}

.footer-left, .footer-right{
    width: 50%;
}

.footer-right{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.footer-project{
    margin: 70px;
    margin-top: 60px;
    font-size: 24px;
    font-family: inter;
    color: white;
}

.footer-icons{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: auto;
    height: 40px;
    gap: 20px;
}

.IconPNG{
    width: 48px;
    height: 48px;
    margin-left: -10px;
}

.footer-right1, .footer-right2{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 45px;
    color: white;
    font-size: 16px;
    font-family: inter;
    width: 220px;
}

.footer-right2{
    margin-right: 60px;
}

.footer-text2{
    color: #C5ADBF;
}

