.header-area, .navtoolbox{
    display: flex;
    height: 4rem;
    font-family: Inter;
    color: white;
    font-size: 20px;
    margin-top: 40px;
}

.header-area{
    flex-direction: row;
    margin-left: 70px;
}

.navtoolbox{
    margin-left: 38%;
    letter-spacing: .5px;
    height: auto;
    margin-top: 10px;
    gap: 25px;
    align-items: center;
}

.header-area .navtoolbox .navtools{
    margin: 10px;
}

.login-button{
    width: 95px;
    height: 55px;
    border-radius: 10px;
    font-family: inter;
    font-size: 17px;
}

.title-container{
    display: flex;
    flex-direction: column;
    font-family: inter;
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 70px;
    line-height: 10px;
}

.title3{
    font-size: 25px;
    font-weight: 300;
}

.start-project-button{
    margin-top: 20px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
}

.image1-container{
    width: 1320px;
    height: 640px;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 100px;
}

.ComputerPNG{
    width: 100%;         
    height: auto;        
    object-fit: cover;
}

.explore-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 70px;
    font-size: 48px;
    font-weight: 600;
    color: white;
    font-family: inter;
}

.see-more-container{
    display: flex;
    font-size: 24px;
    align-items: end;
    margin-right: 70px;
    font-weight: 500;
}

.sample-startup-container{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: 1320px;
    height: 550px;
    gap: 45px;
    margin-bottom: 150px;
}

.sample{
    display: flex;
    flex-direction: column;
    width: 410px;
    font-family: inter;
    color: white;
}

.SamplePNG{
    border-radius: 10px;
}

.sample-title{
    font-weight: 500;
    margin-bottom: 0px;
}

.sample-text{
    font-size: 24px;
    margin-top: 10px;
}

.build-startup{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: 95.7%;
    height: 820px;
    margin-bottom: 200px;
}

.build-startup-text{
    font-family: inter;
    color: white;
    width: 40%;
}

.topic1, .explanation1, .topic2, .explanation2{
    font-size: 24px;
    margin-bottom: 40px;
}

.topic1{
    line-height: 0.4;
}

.explanation1, .explanation2{
    color: #C5ADBF;
    line-height: 1.4;
}

.project-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project-start, .project-explore{
    width: 220px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
    font-family: inter;
}

.project-explore{
    background-color:#8D397459;
    color: white;
}

.build-startup-png{
    width: 60%;
    height: 820px;
}

.BuildStartupPNG{
    width: 93%;
    height: 820px;
    object-fit: cover;
    margin-left: 60px;
}

.explore-courses-container{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: 1310px;
    height: 530px;
    gap: 30px;
    margin-bottom: 200px;
}

.course{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 530px;
    font-family: inter;
    color: white;
}

.topic2{
    
    margin-bottom: 0px;
}

.community-title, .explore-courses-title{
    margin-left: 70px;
    font-size: 48px;
    font-family: inter;
    font-weight: 600;
    color: white;
}

.community-container{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    width: 1340px;
    height: 300px;
    gap: 50px;
}

.community{
    width: 420px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
}

.community-text{
    display: flex;
    width: 345px;
    height: 110px;
    color: white;
    font-family: inter;
    font-size: 24px;
    margin: 30px;
    margin-top: 55px;
}

.community-name{
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 60px;
    margin: 30px;
}

.community-picture{
    width: 60px;
    height: auto;
}

.community-description{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    color: white;
    line-height: 0px;
    margin-left: 20px;
    font-size: 16px;
    font-family: inter; 
}

.AvatarPNG{
    width: inherit;
    height: auto;
    object-fit: cover;
}

.profession{
    color: #828282;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
}

.top-button{
    margin-right: 50px;
    width: 180px;
    height: 60px;
    color: white;
    background-color: #2B082078;
    font-size: 24px;
    font-family: inter;
    border-radius: 10px;
}

