/* Container that spans the full screen */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: conic-gradient(
  from 0deg at 50% 50%,
  #8D3974 50%,
  #0D0D0D 50%,
  #E415A6 100%
  );
  font-family: 'Inter', sans-serif;

  margin: -10px;
}

/* Flex layout to separate form and image side-by-side */
.left {
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Inter', sans-serif;;
}

.left-text{
  margin-right: 5%;
}

/* Login form section */
.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* Form styling */
.login-box ,.register-box {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-username,
.login-password, .register-username, .register-password {
  padding: 10px;
  border: 2px solid #8098F9;
  border-radius: 10px;
  background-color: F5F5F5;
  opacity: 0.8;
  color: 828282;
}

.submitLogin, .submitRegister {
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submitLogin:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.toggleText {
  margin-top: 20px;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
}

/* Image section */
.right {
  width: 57%;
  height: 100%;
  overflow: hidden;
}

.login-image-container {
  width: 100%;
  height: 100%;
}

.login-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #ccc;
}

.remember-container {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between checkbox and label text */
}

.forgot-password {
  cursor: pointer;
  color: #9db5ff;
  transition: color 0.2s ease;
}

.forgot-password:hover {
  color: #b3c7ff;
  cursor: pointer;
}

.home-page{
  background-color: #007bff;
  height:100vh;

}


/* Crreate Project Page */
.create-project-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom,0D0D0D,13070F,8D3974);
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 5%;
}

.create-project-container .start-your-project h1 {
  font-weight: bold;
  font-size: 64px;
  align-content: left;
  align-items: left;
  justify-content: left;
  margin-bottom: -10px;
}


.create-project-container .start-your-project h3 {  
  font-weight:200;
  margin-bottom: 5%;
}

.start-your-project-form {
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.create-project-inputs{
  margin-top: -1%;
  align-items: left;
  justify-content: left;

  
  display: flex;
  flex-direction: row;
  height: 50vh;
  margin-left: -2% ;
  margin-bottom: 10%;
}

.create-project-submit{
  height: 4em;
  width: 90%;
  margin: 0.5%;
  margin-top: -100px;
}


.form-group{
  display:flex;
  flex-direction: column;
  margin: 2em;
  align-items:left;

}
.create-project-form .rightbox, 
.create-project-form .leftbox {
  display: flex;
  flex-direction: column;

}

.form-group-input{
  color: grey;
  background-color: #0D0D0D;
  width: 500px;
  border-radius: 8px;
  height: 40px;
  resize: vertical;
}

/*create project header*/

.create-project-header{
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
  color: white;
  
  justify-content: space-between;
  gap: 70vw;
  width: max-content;
  height: auto;
  margin-left: 3%;
  margin-top: 1%;
}





