/* Container that spans the full screen */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: conic-gradient(
  from 0deg at 50% 50%,
  #8D3974 50%,
  #0D0D0D 50%,
  #E415A6 100%
  );
  font-family: 'Inter', sans-serif;

  margin: -10px;
}

/* Flex layout to separate form and image side-by-side */
.left {
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Inter', sans-serif;;
}

.left-text{
  margin-right: 5%;
}

/* Login form section */
.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* Form styling */
.login-box ,.register-box {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-username,
.login-password, .register-username, .register-password {
  padding: 10px;
  border: 2px solid #8098F9;
  border-radius: 10px;
  background-color: F5F5F5;
  opacity: 0.8;
  color: 828282;
}

.submitLogin, .submitRegister {
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submitLogin:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.toggleText {
  margin-top: 20px;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
}

/* Image section */
.right {
  width: 57%;
  height: 100%;
  overflow: hidden;
}

.login-image-container {
  width: 100%;
  height: 100%;
}

.login-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #ccc;
}

.remember-container {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between checkbox and label text */
}

.forgot-password {
  cursor: pointer;
  color: #9db5ff;
  transition: color 0.2s ease;
}

.forgot-password:hover {
  color: #b3c7ff;
  cursor: pointer;
}



